workflow-bot-clima.json
{
  "name": "bot-clima-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "d3f1a2b4-c5e6-4d7a-9b8c-1e2f3a4b5c6d",
      "name": "Telegram Trigger",
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot Clima"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.message.text;\nlet n = text.toLowerCase().trim().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\nn = n.replace(/^(oi|ola|hey|hello|hi|e ai|eai|opa|bom dia|boa tarde|boa noite)[,!.\\s]*/i, '').trim();\n\nconst patterns = [\n  /^(?:qual|como)\\s+(?:e|eh|esta|ta)?\\s*o?\\s*(?:clima|tempo)\\s+(?:(?:hoje|hj|agora|amanha|a\\s+amanha)\\s+)*(?:em|de|na|no|para|pra)\\s+(.+)/i,\n  /^(?:me\\s+)?(?:diz|fala|conta|mostra|informa)\\s+(?:o\\s+|a\\s+)?(?:clima|tempo|temperatura)\\s+(?:de|em|na|no|para|pra)\\s+(.+)/i,\n  /^(?:clima|tempo|temperatura)\\s+(?:de|em|na|no)\\s+(.+)/i,\n  /^(?:previsao)\\s+(?:do\\s+tempo\\s+)?(?:de|em|na|no|para|pra)\\s+(.+)/i,\n  /^(?:quero\\s+saber)\\s+(?:o\\s+|a\\s+)?(?:clima|tempo|temperatura)\\s+(?:de|em|na|no)\\s+(.+)/i,\n  /^(?:ta|esta)\\s+(?:chovendo|frio|calor|quente|nublado)\\s+(?:em|na|no)\\s+(.+)/i\n];\n\nlet city = null;\nfor (const p of patterns) {\n  const m = n.match(p);\n  if (m) { city = m[1]; break; }\n}\n\nif (city) {\n  city = city.replace(/\\b(capital|hoje|hj|agora|amanha|por favor)\\b/g, '').replace(/[?!.,;]+/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nif (!city || city.length < 2) {\n  city = n.replace(/[?!.,;]+/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nconst abbr = { 'sp': 'Sao Paulo', 'rj': 'Rio de Janeiro', 'bh': 'Belo Horizonte', 'poa': 'Porto Alegre', 'bsb': 'Brasilia', 'ctba': 'Curitiba', 'cwb': 'Curitiba', 'fln': 'Florianopolis', 'ssa': 'Salvador', 'rec': 'Recife', 'for': 'Fortaleza', 'gyn': 'Goiania', 'man': 'Manaus', 'nat': 'Natal' };\nif (abbr[city]) { city = abbr[city]; }\n\nreturn { cidade: city };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "b7c8d9e0-f1a2-4b3c-d4e5-f6a7b8c9d0e1",
      "name": "Normalizar Cidade"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.cidade }},BR"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 0],
      "id": "c9d0e1f2-a3b4-4c5d-e6f7-a8b9c0d1e2f3",
      "name": "Consulta Clima Atual",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [720, 0],
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Cidade Encontrada?"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.coord.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.coord.lon }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "cnt",
              "value": "24"
            },
            {
              "name": "appid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, -80],
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Consulta Previsão 3 Dias",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const current = $node[\"Consulta Clima Atual\"].json;\nconst forecast = $json;\n\nconst cityName = current.name;\nconst currentTemp = Math.round(current.main.temp);\nconst feelsLike = Math.round(current.main.feels_like);\nconst humidity = current.main.humidity;\nconst windSpeed = (current.wind.speed * 3.6).toFixed(1);\nconst description = current.weather[0].description;\nconst icon = current.weather[0].icon;\n\nconst emojis = {\n  '01': '☀️', '02': '⛅', '03': '☁️', '04': '☁️',\n  '09': '🌧️', '10': '🌦️', '11': '⛈️', '13': '❄️', '50': '🌫️'\n};\nconst emoji = emojis[icon.substring(0, 2)] || '🌡️';\n\nconst dailyMap = {};\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of forecast.list) {\n  const date = item.dt_txt.split(' ')[0];\n  if (date === today) continue;\n  if (!dailyMap[date]) {\n    dailyMap[date] = { temps: [], descs: [], icons: [] };\n  }\n  dailyMap[date].temps.push(item.main.temp);\n  dailyMap[date].descs.push(item.weather[0].description);\n  dailyMap[date].icons.push(item.weather[0].icon);\n}\n\nconst nextDays = Object.entries(dailyMap).slice(0, 3).map(([date, data]) => {\n  const min = Math.round(Math.min(...data.temps));\n  const max = Math.round(Math.max(...data.temps));\n  const midIdx = Math.floor(data.descs.length / 2);\n  const desc = data.descs[midIdx];\n  const dayEmoji = emojis[data.icons[midIdx].substring(0, 2)] || '🌡️';\n  const d = new Date(date + 'T12:00:00');\n  const dayName = d.toLocaleDateString('pt-BR', { weekday: 'short' });\n  return `${dayEmoji} ${dayName}: ${min}°C ~ ${max}°C — ${desc}`;\n});\n\nconst forecastText = nextDays.join('\\n');\n\nreturn {\n  prompt: `Cidade: ${cityName}\\nTemperatura: ${currentTemp}°C\\nSensação térmica: ${feelsLike}°C\\nUmidade: ${humidity}%\\nVento: ${windSpeed} km/h\\nCondição: ${description}\\n\\nPrevisão próximos dias:\\n${forecastText}`,\n  fallback_message: `${emoji} *${cityName}*\\n\\n🌡️ Temperatura: ${currentTemp}°C\\n🤗 Sensação: ${feelsLike}°C\\n💧 Umidade: ${humidity}%\\n💨 Vento: ${windSpeed} km/h\\n📋 ${description}\\n\\n📅 *Próximos dias:*\\n${forecastText}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, -80],
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Processar Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Você é um meteorologista simpático e bem-humorado do Brasil.\n\nReceba os dados climáticos e gere uma mensagem para o Telegram com:\n1. Use emojis adequados ao clima\n2. Destaque a temperatura atual e sensação térmica\n3. Mencione umidade e vento brevemente\n4. Resuma a previsão dos próximos dias de forma leve\n5. Finalize com uma dica prática baseada no clima (ex: \"leve guarda-chuva\", \"passe protetor solar\", \"se agasalhe bem\")\n\nREGRAS DE FORMATAÇÃO (OBRIGATÓRIO):\n- Use APENAS *negrito* para destaques (sempre feche com * pareado)\n- NÃO use _itálico_, `código`, [ ] links, ou ** duplo\n- NÃO use * dentro de palavras ou números (ex: escreva 25°C, não *25°C*)\n- Cada * de abertura DEVE ter um * de fechamento na mesma linha\n- Na dúvida, não formate — texto limpo é melhor que erro\n\nSeja conciso, simpático e informativo. Responda APENAS com a mensagem final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1560, -180],
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Assistente Clima",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1560, 80],
      "id": "a8b9c0d1-e2f3-4a4b-5c6d-7e8f9a0b1c2d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fallback = $node[\"Processar Dados\"].json.fallback_message;\n\nreturn {\n  fallback_message: fallback\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 40],
      "id": "b9c0d1e2-f3a4-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Resposta Fallback"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.output || $json.fallback_message || '';\nlet s = text;\n\n// Fix unmatched * (bold)\nconst asterisks = (s.match(/\\*/g) || []).length;\nif (asterisks % 2 !== 0) {\n  const lastIdx = s.lastIndexOf('*');\n  s = s.substring(0, lastIdx) + s.substring(lastIdx + 1);\n}\n\n// Fix unmatched _ (italic)\nconst underscores = (s.match(/_/g) || []).length;\nif (underscores % 2 !== 0) {\n  const lastIdx = s.lastIndexOf('_');\n  s = s.substring(0, lastIdx) + s.substring(lastIdx + 1);\n}\n\n// Fix unmatched ` (code)\nconst backticks = (s.match(/`/g) || []).length;\nif (backticks % 2 !== 0) {\n  const lastIdx = s.lastIndexOf('`');\n  s = s.substring(0, lastIdx) + s.substring(lastIdx + 1);\n}\n\n// Remove unmatched [ without closing ]\ns = s.replace(/\\[([^\\]]*$)/g, '$1');\n\nreturn { text: s };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, -80],
      "id": "e2f3a4b5-c6d7-4e8f-9a0b-1c2d3e4f5a6b",
      "name": "Sanitizar Texto"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2240, -80],
      "id": "c0d1e2f3-a4b5-4c6d-7e8f-9a0b1c2d3e4f",
      "name": "Enviar Resposta",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot Clima"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "❌ Cidade não encontrada.\n\nDigite o nome de uma cidade brasileira.\nExemplos: São Paulo, Belo Horizonte, Manaus",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 280],
      "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
      "name": "Resposta Erro",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot Clima"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Cidade": {
      "main": [
        [
          {
            "node": "Consulta Clima Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Clima Atual": {
      "main": [
        [
          {
            "node": "Cidade Encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cidade Encontrada?": {
      "main": [
        [
          {
            "node": "Consulta Previsão 3 Dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Previsão 3 Dias": {
      "main": [
        [
          {
            "node": "Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados": {
      "main": [
        [
          {
            "node": "Assistente Clima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente Clima",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assistente Clima": {
      "main": [
        [
          {
            "node": "Sanitizar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Fallback": {
      "main": [
        [
          {
            "node": "Sanitizar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Texto": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
